<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
    <select id="selectListPage" resultType="com.sky.entity.Dish">
        select * from dish
        <where>
            <if test="dto.name != null and dto.length()>0">
                and name like concat('%',#{dto.name},'%')
            </if>
            <if test="dto.status != null">
                and status = #{dto.status}
            </if>
            <if test="dto.categoryId != null">
                and category_id = #{dto.categoryId}
            </if>
        </where>
    </select>

    <!--获取自增主键-->
    <insert id="saveDish" useGeneratedKeys="true" keyProperty="id">
        insert into dish (name, category_id, price, image, description, status, create_time, update_time,
                          create_user, update_user)
        VALUES
            (#{dish.name},#{dish.categoryId},#{dish.price},#{dish.image},#{dish.description},#{dish.status},#{dish.createTime},#{dish.updateTime},#{dish.createUser},#{dish.updateUser})
    </insert>
</mapper>
