<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.EmployeeMapper">

    <select id="selectPageByName" resultType="com.sky.entity.Employee">
        select * from employee
        <where>
            <if test="name != null and name.length()>0">
                and employee.name like concat('%',#{name},'%')
            </if>
        </where>

    </select>
</mapper>
