<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealDishMapper">
    <select id="selectCountOnSetmeal" resultType="java.lang.Integer">
        select count(*)
        from setmeal_dish
        where setmeal_dish.dish_id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <delete id="removeBatchBySetmealId">
        delete from setmeal_dish where setmeal_id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="getDishItemVOBySetmealId" resultType="com.sky.vo.DishItemVO">
        select dish.name, setmeal_dish.copies, dish.image, dish.description
        from setmeal_dish
                 left join dish on setmeal_dish.dish_id = dish.id
        where setmeal_dish.setmeal_id = #{SetmealId} and dish.status = 1
    </select>

</mapper>